@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body { 
  /* background-color: black; */
  margin: 0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #fff;
}
.btn:hover{
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s ;
}
